<!doctype html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="mailru-domain" content="TiooOyu8RHdHZiE1" />
        <link rel="shortcut icon" href="{% static 'pof/img/favicon.png' %}" type="image/x-icon">
        <script src="https://kit.fontawesome.com/555b245f2b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'pof/css/style.css' %}">
        <title>{% block title %}{% endblock %} - POF</title>
    </head>
    <body>
        <div class="container">
            {% include 'includes/header.html' %}
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>